<div>
  <md-card>
    <md-card-content>
      <md-list *ngFor="let user of allRoomies">
        <md-list-item>
          <span mdLine><strong>{{user.firstName}} {{user.lastName}}</strong></span>
          <span mdLine><small>{{user.mobile}}</small></span>
          <span mdLine><small>{{user.email}}</small></span>
          <span mdLine><small>{{user._id}}</small></span>
          <span mdLine fxFlex></span>
          <button md-raised-button color="accent" (click)="openProfileDialog(user)">
            <md-icon>create</md-icon>
          </button>
        </md-list-item>
      </md-list>
    </md-card-content>
  </md-card>
</div>