@import '~@angular/material/theming';
@include mat-core();

$room-app-primary: mat-palette($mat-amber);
$room-app-accent:  mat-palette($mat-lime);
$room-app-warn:    mat-palette($mat-red);

$room-app-theme: mat-light-theme($room-app-primary, $room-app-accent, $room-app-warn);

@include angular-material-theme($room-app-theme);